@import '../vars.scss';

.contacts__group {
  height: 6vh;
  width: 90%;
  min-width: 300px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 12px;
  font-size: 2rem;
  color: var(--groupTextColor);
  border-bottom: 1px solid var(--groupBorderColor);
}