@import '../vars.scss';

.contacts__controls {
  position: relative;
  height: 50px;
  width: 90%;
 // min-width: 320px;
  min-width: 800px;
  max-width: 800px;
  margin: 4px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $grey;

  &-sort {
    position: absolute;
    left: 30px;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    &-sortByAlphabet {
      height: 46px;
      width: 46px;
      background: url(../images/sort-default.svg);
      background-repeat: no-repeat;
      margin-bottom: 3px;
      cursor: pointer;
    }

    &-favorites {
      margin-bottom: 10px;
      height: 30px;
      width: 30px;
      background: url(../images/star-empty.svg);
      cursor: pointer;
    }
  }

  &-change-theme {
    position: absolute;
    left: 170px;
    height: 30px;
    width: 30px;
    background: url(../images/light-theme.svg);
    cursor: pointer;
  }

  &-add-contact {
    position: absolute;
    left: 40%;
    height: 33px;
    width: 33px;
    background: url(../images/add-contact.svg);
    cursor: pointer;
  }

  &-search {
    position: absolute;
    right: 30px;
    box-sizing: border-box;
    padding: 5px 10px;
    color: $grey;
    background: $white;
    border: none;
    border-radius: 5px;
  }
}

.reverse {
  background: url(../images/sort-reverse.svg);
}

.onlyFavorites {
  background: url(../images/star-filled.svg)
}