@import '../vars.scss';

.add-contact {
  &-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  position: absolute;
  height: 90%;
  width: 80%;
  min-width: 800px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: $silver;
  box-shadow: 4px 4px 10px rgba($black, 0.5);

  &__title {
    font-size: 2.5rem;
    font-weight: 900;
    color: $green;
    margin: 0 0 20px 0;
  }

  &__main-section {
    position: relative;
    width: 70%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;
    color: $blueDark;
    border-bottom: 1px solid $black;
    position: relative;

    &-photo {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }

  &__address-section {
    width: 70%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;
    color: $blueDark;
    border-bottom: 1px solid $black;

    &-title {
      width: 100%;
      font-weight: 400;
      color: $black;
    }

    &-city, &-street, &-apartment {
      width: 100%;
    }
  }

  &__contacts-section {
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;
    color: $blueDark;

    &-title {
      width: 100%;
      font-weight: 400;
      color: $black;
    }

    &-email, &-phone, &-website, &-company {
      width: 100%;
    }
  }

  &__favorite {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background: url(../images/star-filled.svg);
    background-repeat: no-repeat;
    cursor: pointer;
  }


  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/close-icon.svg);
    cursor: pointer;
    transition: 0.3s;

    &:hover, &:focus {
      width: 25px;
      height: 25px;
      transform: rotate(180deg);
    }
  }

 &__add-contact, &__cancel {
    position: absolute;
    left: 55%;
    bottom: 10px;
    width: 90px;
    height: 40px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: $red;
    font-size: 1.2rem;
    font-weight: 900;
    color: $white;
    text-decoration: none;
    transition: 0.3s;

    &:hover, &:focus {
      transform: scale(1.1);
    }
  }

  &__add-contact {
    left: 25%;
    width: 150px;
    background: $green;
  }
}

.input-big {
  height: 60px;
  width: 40%;
  background: $white;
  font-size: 2.5rem;
  font-weight: 700;
  color: $black;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 20px;
}

.input-small {
  height: 27px;
  width: 75%;
  background: $white;
  color: $blueDark;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}

.not-favorite {
  background: url(../images/star-empty.svg);
  background-repeat: no-repeat;
}

.description {
  color: $grey;
  font-weight: 300;
}