$black: #010101;
$brown: #8B4513;
$blue: #0000FF;
$blueDark: #003153;
$skyBlue: #00BFFF;
$grey: #555555;
$bluishGray: #708090;
$silver: #C0C0C0;
$white: #fafafa;
$orange: #ff9600;
$green: #0ca309;
$turqouise: #00FF7F;
$aqua: #00FFFF;
$yellow: #fccd00;
$purple: #FF00FF;
$violet: #800080;
$indigo: #4B0082;
$red: #d01810;
$tomato: #bf360c;
$redDark: #620002;